#large files
*.log
*.in
*.out
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
*.pdf

*.png
*.svg

## virual env
venv/

## media
*.mp4

*.out
*.pdf
*.pkl
*.h5
*.ig
*.pkl_old
*.hdf5
