*.svg filter=lfs diff=lfs merge=lfs -text
reference_table_planar.pkl filter=lfs diff=lfs merge=lfs -text
reference_table_slit.pkl filter=lfs diff=lfs merge=lfs -text
spherical_kernels.pkl filter=lfs diff=lfs merge=lfs -text
reference_table_empty_brush.pkl filter=lfs diff=lfs merge=lfs -text
reference_table.pkl filter=lfs diff=lfs merge=lfs -text
reference_table_planar_empty.pkl filter=lfs diff=lfs merge=lfs -text
tex/third_report/fig/*.pkl filter=lfs diff=lfs merge=lfs -text
